<div class= "mn_img_container">
  <div id = "main-image">
    <%= image_tag("https://meetthenew.500px.com/downloads/500px_wallpaper_desktop.jpg", id: "image_main_page") %>
    <div id = "image-text-header">Good friends. Good photos</div>
    <div id = "image-subtext">Make a Reservation.</div>
    <div class="search">
      <%= form_tag(photographers_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search by Name" %>
        <span class="actions"><%= submit_tag "Search" %></span>
      <% end %>
    </div>
  </div>
</div>

<div class="list-container">
  <% @photographers.each do |photographer| %>
  <ul class="list-items">

    <li id="name"><h2><%= link_to photographer.name, photographer_path(photographer) %></h2></li>
    <li id="address">
       <h4><%=image_tag "http://prophotography101.com/wp-content/uploads/2010/10/nikon-d200-pro-digital-camera.jpg"%> </h4>
    </li>
  </ul>
  <% end %>
</div>
